body, html {
      height: 100;
      margin: 0;
      font: 400 15px/1.8 "Lato", sans-serif;
      color: #777;

    }
    
    .bgimg1, .bgimg2, .bgimg3 {
      
      position: relative;
      background-attachment: fixed;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      opacity: 0.85; 
        }
      .bgimg1 {
          background-image: url("History_B1.jpg");
          min-height: 1000px;
      }
      .bgimg2 {
          background-image: url("Merino_H2.jpg");
          min-height:1000px;
      }
      .bgimg3 {
          background-image: url("History_B3.jpg");
          min-height: 1000px;
    }
     .caption {
        position: absolute;
        left: 0;
        top: 50%;
        width: 50%;
        text-align: center;
        color: #000;
}
